<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      text-align: center;
    }

    img {
      height: 450px;
      max-width: 90vw;
      display: block;
    }
  </style>
</head>

<body data-bs-theme="dark">
  <h1>Page Not Found</h1>

  <img src="/img/404.svg" alt="Not Found Image">
</body>

</html>